nav{
    display: flex;
    background-color: #020414;
    padding:5px;
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -15px;
}
nav>div>p{
    color: white;
    border-radius:5%;
    font-size: 2rem;
    margin: 1em;
}
nav>div{
    flex-basis:20% ;
    flex-grow: 1;
    flex-shrink: 1;
}
header{
    display: flex;
}
header h1{
    flex: 1;
    text-align: center;
    font-weight: lighter;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 1.5%;
    font-size: 4rem;  
}

section div{
    text-align: center;
    font-size: 2rem;
}
.img-desc{
    padding: 5px;
    margin: 5px;
}
#img-main{
    display: block;
    height: auto;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2.5%;
}
.quote{
    display: flex;
}
.quote h3{
    flex-basis: 40%;
    flex-grow: 1;
    flex-shrink:1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 1.5%;
}

.list{
    display: inline-block;
    list-style-type:square;
    text-align: left;
    padding: 2rem;
}

li a{
    text-decoration: none;
    color: #5a1363;

}

a:hover{
    background-color: lightgray;
    color: purple;
    text-decoration: underline;
}

footer{
    display: flex;
    background-color: #020414;
    padding: 25px;
    /* margin-top: 4rem; */
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
}
footer .foot{
    flex: 1;
    font-size: 1.5rem;
    color: white;
}

footer .foot.copyright{
    margin-left: -5px;
}

footer .foot.git{
    float: right;
    border-radius: 2%;
    margin-bottom: 2px;
}

footer .foot.git:hover{
    background-color: gray;
}

/* Media query */
@media only screen and (max-width:800px){
    nav{
        justify-content: center; 
     }
     nav>div{
         flex: 0 0 50%;
     }
     nav>div>p{
         font-size: 2rem;
     }
    header h1{
        font-size: 3rem;
    }
    #img-main{
        height: auto;
        width: 80%;
    }
    .quote h3{
        font-size: 30px;
    }
    .list{
        font-size: 27px;
    }
    footer .foot{
        font-size: 25px;
    }
}

@media only screen and (max-width:600px){

    nav{
       justify-content: center; 
    }
    nav>div{
        flex: 0 0 80%;
    }
    nav>div>p{
        font-size: 1.5rem;
    }
    header h1{
        font-size: 3rem;
    }
    #img-main{
        height: auto;
        width: 80%;
    }
    .quote h3{
        font-size: 25px;
    }
    .list{
        font-size: 23px;
    }
    footer .foot{
        font-size: 20px;
    }
}

